div#edit-product {
  position: relative;

  div.adminNav {
    display: inline-block;
    width: 6em;

    nav#adminNav {
      position: absolute;
      top: 0;

      ul {
        padding-left: 0.5em;

        li {
          list-style-type: none;
          padding: 0.5em;

          a {
            color: #000;
            text-decoration: none;
          }
        }

        li:hover,
        li:focus {
          background-color: #888888;

          a {
            text-decoration: underline;
            color: #fff;
          }
        }
      }
    }
  }

  div.edit-product-wrapper {
    display: inline-block;
    margin: 0.5em;

    div.tabs {
      ul {
        display: table-row;
        height: 2em;

        li {
          height: 100%;
          display: table-cell;
          padding: 0.5em;
          list-style-type: none;
          vertical-align: middle;

          a {
            color: #000;
            display: table-cell;
            text-decoration: none;
            vertical-align: middle;
            height: 100%;
          }
        }

        li.active {
          background-color: #888888;

          a {
            text-decoration: underline;
            color: #fff;
          }
        }
      }

      ul li:hover,
      ul li:focus {
        background-color: #888888;

        a {
          text-decoration: underline;
          color: #fff;
        }
      }
    }
  }
}