div.members-wrapper {
  text-align: center;

  div.user-card {
    position: relative;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 1em;

    button.delete-user {
      position: absolute;
      right: 0.5em;
      top: 0.5em;
      background-color: #fff;
      border: none;
    }

    button.delete-user:hover,
    button.delete-user:focus {
      background-color: #000;
      color: #fff;
    }
  }
}