div#profile {
  display: flex;
  justify-content: center;

  div.customer {
    border: solid thin #000;
    width: 20em;
    margin: 1em;
    position: relative;

    h2 {
      margin: 0.5em;
      text-align: center;
    }

    p {
      height: 1em;
      border: solid thin #000;
    }

    p.edit-profile {
      border: none;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}