div#profile {
  display: flex;
  align-items: center;
  height: 37em;

  div.user-card,
  div.address-wrapper,
  div.paymentCard-wrapper,
  form#add-address,
  div.add-paymentCard {
    width: 33%;
    height: 100%;
    text-align: center;
  }

  div.add-paymentCard {
    display: none;
    margin: 0 auto;
  }
}